<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Registration</title>
</head>
<body>
Registration
<form name="userForm" th:action="@{/registration}" method="post">
  name : <input type="text" name="username" id="username"/>
  password : <input type="text" name="password" id="password"/>
  <br/>
  ADMIN <input type="checkbox" name="roles" value="ADMIN"/> | 
  USER  <input type="checkbox" name="roles" value="USER" />
  <hr/>
  <input type="submit" value="join" />
</form>

</body>
</html>