<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Registration</title>
</head>
<body>
Registration
<form name="userForm" th:action="@{/registration}" method="post">
  name : <input type="text" name="username" id="username" th:value="${userForm.username}"/>
  password : <input type="password" name="password" id="password" th:value="${userForm.password}"/>
  <br/>
  ADMIN <input type="checkbox" name="roles" value="ADMIN"/> | 
  USER  <input type="checkbox" name="roles" value="USER" />
  <hr/>
  <div th:if="${error}">username is duplicated.</div>
  
  <input type="submit" value="join" />
</form>

</body>
</html>